<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bylw.attendance.mapper.UserInfoMapper">
<!--    <select id="getUserInfoByUserId" parameterType="String" resultMap="info">-->
<!--        -->
<!--    </select>-->
<!--    <resultMap id="info" type="com.bylw.attendance.entity.vo.UserInfoVo">-->

<!--    </resultMap>-->
</mapper>
